<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <style>
        .container-addpost {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 120px;
            padding: 20px;
            border: 2px solid #b7c0d3;
            border-radius: 5px;
        }

        .h2-addpost {
            text-align: center;
            margin-bottom: 20px;
        }

        .label-addpost {
            font-weight: bold;
        }

        .text-addpost,
        .textarea-addpost {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        .button-addpost {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button-addpost:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <!-- Nav bar -->
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Megapka</span>
        </div>
        <div class="sidebar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Megapka</span>
            </div>
            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a href="profile" class="nav-link" id="profil-btn">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="link">Profil</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="posts" class="nav-link" id="forum-btn">
                            <i class="bx bx-bell icon"></i>
                            <span class="link">Forum</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link" id="poziom-btn">
                            <i class="bx bx-bar-chart-alt-2 icon"></i>
                            <span class="link">Poziom</span>
                        </a>
                    </li>
                </ul>
                <div class="bottom-cotent">
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class="bx bx-cog icon"></i>
                            <span class="link">Ustawienia</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="login" class="nav-link">
                            <i class="bx bx-log-out icon"></i>
                            <span class="link">Wyloguj się</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-addpost">
        <h2 class="h2-addpost">Create Post</h2>
        <form id="postForm" method="post">
            <label for="author" class="label-addpost">Author:</label>
            <input type="text" class="text-addpost" id="author" name="author" value="<%- user.login %>" readonly
                required>

            <label for="content" class="label-addpost">Content:</label>
            <textarea id="content" name="content" rows="4" class=textarea-addpost required></textarea>

            <button type="submit" class="button-addpost">Submit</button>
        </form>
    </div>

    <section class="overlay"></section>
    <script src="scripts/script.js" defer>

    </script>
</body>

</html>